<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
    <h1><a href="/">Link to Start Page</a></h3>
    <h2>Stephanie's Articles/Form Solution</h2>
    <h2>Add a new article</h2>
 
    <form>
        Title: <input type="text" name="title">
        <br>
        <br>
        <p>Content:</p>
        <br>
        <textarea id="content" name="content" rows="10" cols="30"></textarea><br><br>
        <br>
        <br>
        <input type="submit" value="Add">
    </form>
 
    <p id="result"></p>
    <script src="/ex3.js"></script>
</body>
</html>